# Environnements virtuels
venv*/
.venv*/

# Données de scan local
*.json
lastscan.txt

# Fichiers temporaires Python
__pycache__/
*.py[cod]
*.log

# IDE
.vscode/
.vscode-server/

# Zeek
zeek/

# Autres
.DS_Store
*.swp
