# Virtualenv
venv-sonde/
__pycache__/
*.pyc
*.log

# Résultats de scan
lastscan.txt

# Zeek / config inutiles
zeek/
zeek-local/
zeek-install/
.cache/
.vscode-server/


# Fichiers de résultats de scan
lastscan.txt
resultatrapide.json
resultatmoyen.json
resultatapprofondie.json
results.json

# Base de données
scans1.db

# Environnement virtuel Python
venv-sonde/

# Script de scan passif (optionnel si tu veux l’exclure)
passive_scan.py

# Dossier static (si généré dynamiquement ou inutile à versionner)
static/