blinker==1.9.0
click==8.2.1
Flask==3.1.1
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
python-nmap==0.7.1
Werkzeug==3.1.3
sqlalchemy
sqlalchemy
vulners
vulners==1.5.18
sqlalchemy
urllib3==1.26.16    